body{
    background-color: bisque;

}
h1{
    color: bisque;
    text-align: center;
    font-size: 50 px;
}
.itens{
    background-color: rgba(240, 52, 193, 0.178);
    font-size: 30px;
    color: rgba(146, 121, 170, 0.534);
    text-align: center;
}